/* Write your CSS here */
.notification-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
  width: 70%;
  margin-bottom: 30px;
  padding: 10px;
}
.close-icon {
  font-size: 23px;
  margin-left: 30px;
}
